* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
html {
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 3rem 4rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.title{
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 1.4rem;
  left: 50%;
  top: 86%;
  transform: translate(-50%, -75%);
}
